.score__text {
  color: white;
  font-family: Poppins;
  font-size: 20px;
  margin-right: 40px;
  margin-top: 35px;
  display: flex;
  flex-wrap: nowrap;
  @media (max-width: 393px) {
    margin: 35px auto;
  }
}
.score__container {
  @media (max-width: 400px) {
    margin: 0 auto;
  }
}
