.links__container {
  display: flex;
  justify-content: space-between;
  height: 36px;
  width: calc(100% - 80px);
  margin: 10px 40px;
  padding-left: 0px;
  border-radius: 16px;
  background-color: #b9c799;
  overflow: hidden;
  @media (max-width: 850px) {
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;
  }
  @media (max-width: 680px) {
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;
  }
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b9c799;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #424737;
  @media (max-width: 850px) {
    width: 20%;
    padding: 8px;
  }
  @media (max-width: 680px) {
    width: 25%;
  }
  @media (max-width: 600px) {
    font-size: 14px;
    width: 30%;
    padding: 10px;
  }
  @media (max-width: 435px) {
    width: 100%;
  }
}
