h1 {
  color: white;
  font-family: Poppins;
  font-size: 45px;
  margin-left: 40px;
  flex-basis: 450px;
  @media (max-width: 510px) {
    margin: 0 auto;
    text-align: center;
  }
}
.logo__green_letters {
  color: #459b7a;
}
