h1 {
  color: white;
  font-family: Poppins;
  font-size: 45px;
  margin-left: 40px;
  flex-basis: 450px;
  display: none;
  @media (max-width: 510px) {
    margin: 0 auto;
    text-align: center;
  }
}
.logo__green_letters {
  color: #459b7a;
}
.logo__image {
  padding-top: 20px;
  margin-left: 40px;
  display: block;
  width: 200px;
  flex-basis: 200px;
  height: 55px;
  margin-right: 40px;
  @media (max-width: 393px) {
    margin: 0 auto;
  }
}
