@import url("https://fonts.googleapis.com/css?family=Poppins:regular,bold,italic&subset=latin,latin-ext");

body {
  background-color: #222222;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.menu__container {
  background-color: #459b7a;
  height: 60px;
  margin: 0px 40px;
  border-radius: 10px;
}
.game__container {
  display: flex;
  margin: 0px 40px;
}
.question__container {
  margin: 0px 40px;
}
.next_level__button {
  width: calc(100% - 80px);
  margin: 20px 40px;
  height: 36px;
  background-color: #303030;
  border: 1px solid #444;
  transition: 0.3s;
  color: white;
}
.next_level__button-active {
  background-color: #00bc8c;
}
